h1{
    font-family: Legaue spartan,arial;
    color: #ffa511;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px, normal;
    text-decoration:cornflowerblue double underline;
    text-transform: uppercase;
}