#outer{
    height: 200px;
    width: 70px;
    border-width: 5px;
    border: 2px solid black;
}
#inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: green;
}
#inner2{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
}
#outer2{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: yellow ;
}